<div class="container-show">
  <div class="cocktail-name-img">
    <h1><%= @cocktail.name %></h1>
      <%= image_tag @cocktail.photo.url, width:400, radius: 5 %>
   </div>
    <div class="cocktail-ingredients">
      <% @cocktail.doses.each do |d|%>
        <h4> <%= d.ingredient.name %> - <%= d.description %> <%= link_to dose_path(d.id), method: :delete do %> <i class="fas fa-trash-alt"></i><% end %></h4>
        <% end %>
    </div>
</div>

<p><%= link_to 'Add Ingredients', new_cocktail_dose_path(@cocktail) %></p>

<%= link_to 'Back', cocktails_path %>


